<h1>新規登録</h1>

<form>
  <div>
    <label>ユーザー名</label>
    <input type="text">
  </div>

  <div>
    <label>パスワード</label>
    <input type="password">
  </div>

  <button>登録</button>


  <p><%= link_to "トップページに戻る", root_path %></p>
</form>
